body{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
/*    固定宽高 */
    width: 500px;
    height: 500px;
    border: red solid 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #eddd9e;

    display: inline-block;
}