body {
  margin: 0;
  padding: 0;

  position: relative;

  width: 500px;
  height: 500px;
  border: red solid 10px;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  width: 100px;
  height: 100px;
  background-color: #eddd9e;
}
